div.header {
	font-size: 2em;
	text-align: center;
	background-color: lightgreen;
}

div.controlPanel {
	background-color: lemonchiffon;
}

div.column {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
	margin: 4px auto;
	width: 300px;
	text-align: center;
	background-color: snow;
}

input[type="text"] {
	width: 50px
}

.cell {
	width: 20px;
	height: 20px;
	margin: 1px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: ghostwhite;
	display: inline-block;
	vertical-align: middle;
}

.alive {
	background-color: yellow;
}

.field {
	margin: 50px;
}

.cellRow {
	text-align: center;
	background-color: aliceblue;
}