div.header {
	font-size: 1.5em;
	text-align: center;
	margin: 30px auto;
	width: 500px;
}

div.controlPanel {
}

div.column {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
	margin: 4px auto;
	width: 300px;
	text-align: center;
	background-color: aliceblue;
}

input[type="text"] {
	width: 50px
}

.cell {
	width: 18px;
	height: 18px;
	margin: 1px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: ghostwhite;
	display: inline-block;
	vertical-align: middle;
}

.alive {
	background-color: blue;
}

#field {
	padding: 35px;
}

#fieldContainer {
	margin: 35px;
	background-color: aliceblue;
}

.cellRow {
	text-align: center;
}

