div.column {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
	margin: 2px;
}

.column {
	width: 300px;
}

input[type="text"] {
	width: 50px
}

.cell {
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid #000;
}

.alive {
	background-color: #000;
}

.cellRow {
}